.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  padding-bottom: 80px;
  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    border-radius: 0px;
    gap: 10px;
    border-bottom: solid 1px #5c5c5c;
    padding: 10px;

    &:last-child {
      border-bottom: none !important;
      background-color: red;
    }

    img {
      height: 70%;
      width: auto;
    }
    .info {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }
  }
}
