.navbar {
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 84px;
    justify-content: space-between;
    overflow: visible;
    z-index: 10;
    padding: 0 10px;

    .navbar_bg {
        position: absolute;
        left: 0px;
        top: -4px;
        z-index: 0;

        path {
            width: 100%;
            fill: #171717f2;
        }
    }
}
