.balance {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow: visible;
  font-weight: bold;
  letter-spacing: 0.3px;
  position: relative;

  .hidden_balance_incrementor {
    position: absolute;
    top: 0;
    right: 0;
    transition: opacity 0.3s;
    color: var(--color-text-secondary);
    transition: all 0.3s;
    transform: translateY(0);
  }
  &.shown {
    opacity: 1;
    transform: translateY(-100%);
  }
}
